@media only screen and (max-width:480px){
		/* Index page Header Css Starts */
	.header-section{
		height: 300px;
		width: 1379px;
		background-color: #57F0A1;
	}
	ul.main-menu li {
		display: inline-block;
		padding-left: 8px;
		font-size: 45px;
		font-family: arial;
		margin-top: 150px;
		margin-left: 75px;
		border-radius: 5px;
		color: White;
		font-family: Impact, fantasy;
		position: relative;

	}
	/* Index page Header Css Ends */

	/* Index Page Body Section Css starts*/
	.body-section{
		width: 1379px;
		height: 1500px;
		
	}
	.image-container{
		height: 1500px;
		width: 100%;
		position: relative;
	  	align-content: center;
	  	background-color: blue;
	}
	.search-section{
		height: 100px;
		width: 900px;
		background-color: white;
		position: absolute;
		top: 90%;
	  	left: 65%;	
	}
	/* Index Page Body Section Css Ends*/

	/* Index Page Footer Section Css starts*/
	.footer-section{
		height:700px; 
		width:1379px;
		background-color: red;
	}
	/* Index Page Footer Section Css Ends*/


	/* Login and regsiter Form Properties of Css Starts */
	.user-reg-container{
		height: 2000px;
		width: 1379px;
	}	
	.register-decription-container{
		width: 100%;
		padding-left: 400px;
		padding-top: 200px;
		font-size: 45px;	
	}
	.register-decription-container h2{
		font-size: 65px;
	}
	.register-decription-container h4{
		font-size: 55px;
	}
	.user-reg-form-group{
		width: 100%;
		height: 1208px;
		padding-left: 400px;
		padding-top: 90px;	
	}
	.form-control-user-reg{
		width: 750px;
		height: 55px;
		font-size: 45px;
	}
	.modify-btn{
		height: 100px;
		width: 400px;
		font-size: 45px;
	}

	.login-container{
			width: 1379px;
			height: 2000px;
			margin-top: 10px;
	}
	.login-main-text h2{
		font-size: 65px;
	}
	.login-main-text h3{
		font-size: 55px;
	}
	/* Login and regsiter Form Properties of Css Ends */


}

