*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Header Section Css starts*/
.header-section{
	height: 150px;
	width: 100%;
	background-color: #57F0A1;
}
.logo-section{
	float: left;
	width: 30%;
	height: 100%;
	background-color: green;
}

.menu-section{
	float: left;
	width: 70%;
	height: 100%;
	background-color: #57F0A1;
	position: relative;
}
ul.main-menu li {
	display: inline-block;
	padding-left: 20px;
	font-size: 35px;
	font-family: arial;
	margin-top: 70px;
	margin-left: 140px;
	border-radius: 5px;
	color: White;
	font-family: Impact, fantasy;
	position: relative;

}
.main-menu li:hover{
	color: red;
}
/* Header Section Css Ends*/

/* Index Page Body Section Css starts*/
.body-section{
	height: 600px;	
	width: 100%;
	background-color: #C76DEC;

}
.modify-body-image, .carousel-inner{
	width: 600px !important;
	height: 500px !important;

}
.modify-container{
	max-width:100%;
}
.image-container{
	height: 600px;
	width: 100%;
	position: relative;
  	align-content: center;
  	background-color: blue;
}
.search-section{
	height: 100px;
	width: 900px;
	background-color: white;
	position: absolute;
	top: 40%;
  	left: 25%;	
}
/* Index Page Body Section Css Ends*/

/* Index Page Footer Section Css Ends*/


.footer-section{
	height:190px; 
	width:100%;
	background-color: red;
}


/* Index Page Footer Section Css Ends*/

/* Login and regsiter Form Properties of Css Starts */

.login-container, .user-reg-container{
	height: 790px;
	width: 100%;
	background-color:#C70039;
}
.pizza-image-container{
	width: 50%;
	height: 790px;
	background-color: black;
	float: left;
}
.modify-pizza-image{
	height: 100%;
	width: 100%;
}
.user-reg-form-group{
	height: 790px;
	width: 50%;
	background-color: #8E50E2;
	float: right;
}
.form-control-user-reg{
	width: 450px;
	height: 35px;
	font-size: 18px;
	 border-radius: 8px;
	 color: black;	

}
.modify-btn{
	border-radius: 8px;ss
	height: 50px;
	width: 200px;
	 padding: 15px 25px;
	   text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
    box-shadow: 0 9px #999;	
    margin-left: 90px;
}
.modify-btn:hover{
	background-color: #3e8e41
}
.modify-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*Client-Index- CSS Starts */
.search-bar-client-section{
	width: 50%;
	
	height: 1000px;
    background-color: black;
}
/*Client-Index- CSS Ends */




/* Login Page Bootstrap Starts */

body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 200px;
    background: #FFF;
   
}

.sidenav {
    height: 790px;
    background-color: #000;
    padding-top: 20px;
    margin-top: 147px;
}


.main {
    padding: 0px 200px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
        color: #DAF7A6;
        font-size: 35px;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
/* Login Page Bootstrap Ends */

.welcome-section{
	height: 200px;
	width: 100%;
	background-color: purple;
	padding-left: 50px;
	color: white;
}
.main-menu-client{
	width: 250px;
	display: inline-block;
	height: 50px;
}
.food-menu-section{
	width: 100%;
	height: 1000px;
	background-color: orange;
	padding-top: 20px;
}
.modify-menu-food{
	width: 100%;
	height: 200px;
}
.chicken-pizza{
	display: inline-block;
}
.order-section{
	background-color: skyblue;
	height: 100px;
	margin-top: 25px;
	padding-top: 50px;
}
.status-section{
	height: 70px;
	background-color: purple;
	width: 500px;
	color: white;
	padding-top: 19px;
	font-size: 20px;

}



.sliding-photo-container{
	background-color: purple;
	height: 100%;
	width: 100%;
	 opacity: 1;
}
.modify-editedmap{
	width: 100%;
	height: 100%;
}
.active{
	display: block !important;
}
.sliding-photo-container img{
	display: none;
}




.admin-login-container{
	height: 321px;
	width: 100%;
	background-color: blue;
}
.image-holder{
background-color: orange;
height: 1000px;
}

.admin-menu-section{
    width: 100%;
    height: 230px;
    background-color: #57F0A1;
    
}
.control-panel-section{
	width: 100%;
	height: 100px;
	background-color: purple;
}
.modify-admin-panel-form{
	padding-top: 25px;
	padding-left: 500px;
}
.ordered-items-section, .delivering-items-section,.delivered-items-section, .customer-info{
	width: 100%;
	height: 1000px;
	background-color: skyblue;
}
#mdf-table{
	background-color: red;
	color: white;
}
#mdf-table-Delivering{
	background-color: yellow;

}
#mdf-table-Delivered{
	background-color: green;

}

